#t1{
    background-color: darkcyan;
    color: darksalmon;
}
   
#t2 {
    background-color: darksalmon;
    color: darkcyan
}

#t3 {
    background-color: darksalmon;
    color: darkcyan;
}
p {
    color: black
    background-color: white;
}

#t4 {
    background-color: darksalmon;
    color: darkcyan;
}